.gradient-custom-3 {
    /* fallback for old browsers */
    background: #1e1f1e;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(88, 88, 88, 0.5), rgba(0, 0, 0, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(149, 151, 150, 0.5), rgba(40, 41, 41, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #ececec;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(27, 27, 27));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 0))
    }